% include("comp_header_navbar")


<div class="relative z-10 flex justify-center w-full shadow-lg shadow-[#00000020]">
    <section class="w-[85%] max-w-[550px] text-center py-14">
        <h2 class="font-playfair-display text-3xl sm:4xl pb-6 font-semibold">Om Alle Vores Opskrifter</h2>
        <p>Velkommen til "Alle Vores Opskrifter" - din ultimative destination for at dele og nyde smagfulde, sunde opskrifter fra vores elskede familie og venner. Vi tror på glæden ved at lave mad sammen og dele vores kulinariske erfaringer med dem, vi holder af. Vores mission er at fremme en sund livsstil og madglæde ved at samle vores yndlingsopskrifter under ét tag. Her finder du inspiration til måltider, der er både velsmagende og næringsrige, og du er mere end velkommen til at tilføje dine egne bidrag til vores voksende samling.</p>
    </section>
</div>

<div class="relative flex flex-col lg:flex-row w-full lg:mb-0 bg-[#DFD7D4] shadow-lg shadow-[#00000020]">
    <div class="w-full h-[450] lg:min-w-[30%] lg:max-w-[550px]">
        <img class="object-cover w-full h-full " src="../images/general/about1.jpg" alt="">
    </div>
    <section class="flex justify-center items-center w-full text-center py-10">
        <section class="w-[85%] max-w-[550px]">
            <h2 class="pb-6 font-semibold text-2xl">Vores historie</h2>
            <p>Historien bag "Alle Vores Opskrifter" begynder i vores hjertevarme familiekøkken. Madlavning har altid været en måde for vores familie at udtrykke kærlighed og omsorg på. Vi samler os altid omkring spisebordet for at dele måltider og skabe minder. Det var denne dybe forbindelse til mad og fællesskab, der inspirerede os til at oprette denne hjemmeside.</p>
        </section>
    </section>
</div>

<div class="relative flex flex-col-reverse lg:flex-row w-full mb-10 lg:mb-0 shadow-lg shadow-[#00000020]">
    <section class="flex justify-center items-center w-full text-center py-10">
        <section class="w-[85%] max-w-[550px]">
            <h2 class="pb-6 font-semibold text-2xl">Vores værdier</h2>
            <p>Vores værdier er centreret omkring sunde madvaner og en holistisk tilgang til livsstilen. Vi tror på at madglæde er en god balance mellem næring og nydelse. Sund mad behøver ikke at være kedelig - vi elsker at udforske kreative opskrifter, der kombinerer smag og næringsstoffer på den bedste måde. Vores mål er at inspirere dig til at omfavne en livsstil med masser af madglæde og være en del af fællesskabet.</p>
        </section>
    </section>
    <div class="w-full h-[450] lg:min-w-[30%] lg:max-w-[600px]">
        <img class="object-cover w-full h-full" src="../images/general/about2.jpg" alt="">
    </div>
</div>

<div class="flex justify-center w-full bg-[#DFD7D4]">
    <section class="w-[85%] max-w-[550px] text-center py-14 ">
        <p class="py-8">Vi håber, at du vil føle dig hjemme på <i class="font-playfair-display">Alle Vores Opskrifter</i> og at vores fælles passion for madlavning og sundhed vil bringe os tættere sammen. Del dine yndlingsopskrifter og lad os fortsætte med at fejre madglæde og velvære sammen.</p>
        <p class="font-semibold text-3xl font-playfair-display">Velbekomme!</p>
    </section>
</div>

% include("comp_footer")