% include("comp_header_navbar")

<div class="flex flex-col items-center w-full h-full">
    <section class="flex-1 py-8 px-14 max-w-[1000px]">
        <h1 class="text-4xl font-semibold my-t mb-6 font-playfair-display text-[#524646]">Fællesskab</h1>
        <h2 class="text-xl font-semibold mb-10 text-[#524646]">Find og følg andre brugere!</h2>
        <section class="w-full flex flex-col sm:flex-row sm:flex-wrap items-center sm:items-start sm:justify-between gap-10">

            % for user in users :
                <!-- fællesskab Grid -->
                <section 
                class="relative flex flex-col w-[85%] sm:w-1/3 min-w-[200px] max-w-[250px] mb-6 bg-cover rounded-xl"
                >
                    <a 
                    href="/{{user['user_username']}}"
                    class="w-full h-[280px] shadow-xl shadow-[#00000030] rounded-xl"
                    >
                        <img src="../images/profile_images/{{user['user_profilepic']}}" class="w-full h-full object-cover rounded-xl" alt="">
                    </a>
                    <section class="p-2 py-4 text-center">
                        <h2 class="text-xl font-playfair-display ">{{user['user_first_name']}} {{user['user_last_name']}}</h2>
                    </section>
                    % if user_cookie is not None : 
                        <!-- Følg bruger -->
                        <form id="form_follow_user_{{user['user_id']}}" name="{{user['user_id']}}" class="follow-form absolute flex justify-center items-center right-0 top-6 rounded-l-xl bg-[#FEFDFD]">
                            
                            <input type="hidden" name="csrf_token" value="{{csrf_token}}">
                            
                            <input type="text" name="user_id" value="{{user['user_id']}}" class="hidden">
                            <button type="submit" id="follow_user_{{user['user_id']}}" class="w-full h-full px-3 py-1.5">
                                % if user['is_followed']:
                                    <svg id="unsolid_hrt_{{user['user_id']}}" class="hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m12 21l-1.45-1.3q-2.525-2.275-4.175-3.925T3.75 12.812Q2.775 11.5 2.388 10.4T2 8.15Q2 5.8 3.575 4.225T7.5 2.65q1.3 0 2.475.55T12 4.75q.85-1 2.025-1.55t2.475-.55q2.35 0 3.925 1.575T22 8.15q0 1.15-.388 2.25t-1.362 2.412q-.975 1.313-2.625 2.963T13.45 19.7L12 21Zm0-2.7q2.4-2.15 3.95-3.688t2.45-2.674q.9-1.138 1.25-2.026T20 8.15q0-1.5-1-2.5t-2.5-1q-1.175 0-2.175.662T12.95 7h-1.9q-.375-1.025-1.375-1.688T7.5 4.65q-1.5 0-2.5 1t-1 2.5q0 .875.35 1.763t1.25 2.025q.9 1.137 2.45 2.675T12 18.3Zm0-6.825Z"/></svg>
                                    <svg id="solid_hrt_{{user['user_id']}}" class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m12 21l-1.45-1.3q-2.525-2.275-4.175-3.925T3.75 12.812Q2.775 11.5 2.388 10.4T2 8.15Q2 5.8 3.575 4.225T7.5 2.65q1.3 0 2.475.55T12 4.75q.85-1 2.025-1.55t2.475-.55q2.35 0 3.925 1.575T22 8.15q0 1.15-.388 2.25t-1.362 2.412q-.975 1.313-2.625 2.963T13.45 19.7L12 21Z"/></svg>
                                    % else:
                                    <svg id="unsolid_hrt_{{user['user_id']}}" class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m12 21l-1.45-1.3q-2.525-2.275-4.175-3.925T3.75 12.812Q2.775 11.5 2.388 10.4T2 8.15Q2 5.8 3.575 4.225T7.5 2.65q1.3 0 2.475.55T12 4.75q.85-1 2.025-1.55t2.475-.55q2.35 0 3.925 1.575T22 8.15q0 1.15-.388 2.25t-1.362 2.412q-.975 1.313-2.625 2.963T13.45 19.7L12 21Zm0-2.7q2.4-2.15 3.95-3.688t2.45-2.674q.9-1.138 1.25-2.026T20 8.15q0-1.5-1-2.5t-2.5-1q-1.175 0-2.175.662T12.95 7h-1.9q-.375-1.025-1.375-1.688T7.5 4.65q-1.5 0-2.5 1t-1 2.5q0 .875.35 1.763t1.25 2.025q.9 1.137 2.45 2.675T12 18.3Zm0-6.825Z"/></svg>
                                    <svg id="solid_hrt_{{user['user_id']}}" class="hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m12 21l-1.45-1.3q-2.525-2.275-4.175-3.925T3.75 12.812Q2.775 11.5 2.388 10.4T2 8.15Q2 5.8 3.575 4.225T7.5 2.65q1.3 0 2.475.55T12 4.75q.85-1 2.025-1.55t2.475-.55q2.35 0 3.925 1.575T22 8.15q0 1.15-.388 2.25t-1.362 2.412q-.975 1.313-2.625 2.963T13.45 19.7L12 21Z"/></svg>
                                % end
                            </button>
                        </form>
                    % end
                </section>
            % end
        </section>
    </section>
</div>

<script src="/js/follow_user.js"></script>

% include("comp_footer")