
<!-- Filtration bar -->

<div class="flex flex-col w-[280px] min-h-screen h-full px-6 py-10 border-r-2 border-r-[#E1DFE9]">
    <h2 class="my-4 text-xl font-semibold">Filtre</h2>
    <!-- Allergier -->
    <section class="mb-6">
        <h3 class="text-lg border-b border-[#DCDCDC] mb-2">Allergier</h3>
        <p>Vegansk</p>
        <p>Vegetarisk</p>
        <p>Pescetarisk</p>
        <p>Keto</p>
    </section>

    <!-- Sortering -->
    <section class="mb-6">
        <h3 class="text-lg border-b border-[#DCDCDC] mb-2">Sortering</h3>
        <p>sortering</p>
        <p>sortering</p>
        <p>sortering</p>
        <p>sortering</p>
    </section>

    <!-- Sortering -->
    <section class="mb-6">
        <h3 class="text-lg border-b border-[#DCDCDC] mb-2">Sortering</h3>
        <p>sortering</p>
        <p>sortering</p>
        <p>sortering</p>
        <p>sortering</p>
    </section>
</div>