<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/app.css">
    <title>{{title}}</title>
</head>
<body class="bg-[#F9FAFC] text-[#2a2a2a] font-sans">

    <nav class="w-full ">
        <!-- Navbar 1 -->
        <div class="flex justify-between items-center w-full h-14 bg-[#494141] text-white px-8">
            <a href="/">Logo</a>
            <section>ik on er</section>
        </div>
        <!-- Navbar 2 -->
        <section class="flex items-center w-full h-14 bg-[#F4F1EF] px-8 shadow-lg shadow-[#00000020]">
            <section class="flex justify-center w-full items-center">
                <section class="flex gap-4 pl-[290px] w-full">
                    <a href="/recipes">Opskrifter</a>
                    <a href="/blog">Blogindlæg</a>
                    <a href="/about">Om os</a>
                    <a href="/contact">Kontakt</a>
                </section>
                <input 
                class="w-[250px] ml-auto rounded-full p-1 pl-2 outline-none border-2 border-[#6C6058] bg-[#F4F1EF] h-fit"
                type="text" 
                placeholder="Søg efter opskrift"
                name="" 
                id=""
                >
            </section>
        </section>
    </nav>