% include("comp_header_navbar")

<div class="w-full">


    
    <form method="POST" action="" enctype="multipart/form-data" class="flex flex-col items-center gap-8 w-full">

        <input type="hidden" name="csrf_token" value="{{csrf_token}}">

        <!-- show message, hvis det er forkert -->
        <section id="tips" class="absolute z-40 top-10 flex flex-col justify-center items-center bg-[#FF3F64] gap-4 w-full"></section>


        <!-- splash med info -->
        <div class="flex flex-col lg:flex-row w-full shadow-lg shadow-[#00000030]">
            <div class="relative w-full lg:w-[60%] lg:max-h-[70vh]">
                <img id="collection_thumbnail" src="../images/collection_thumbnails/default_collection.jpg" class="w-full h-full object-cover" alt="Placeholder uploade billede">
                <label for="collection_thumbnail_input" class="absolute top-0 cursor-pointer w-full h-full font-semibold" >
                    <span class="flex items-center justify-center w-full h-full ">Upload billede til samling</span>
                    <input id="collection_thumbnail_input" name="collection_thumbnail_input" type="file" class="hidden">
                </label>
            </div>        
            <div class="flex justify-center w-full lg:w-[40%] bg-[#D3C9C6]">
                <section class="flex flex-col  w-[85%] text-center py-6 pt-8">
                    <h1 class="w-full text-center mb-8 text-3xl font-semibold font-playfair-display">
                        Opret opskriftsamling
                    </h1>
                    <section class="mb-4"> <!-- afsnit i opskrifts info -->
                        <input name="collection_name" type="text" placeholder="Samling navn" maxlength="50" minlength="5" class="w-full max-w-[250px] px-4 py-1 my-4 rounded-full outline-none shadow-lg shadow-[#00000010]">
                        <p class="">Af {{user_cookie['user_first_name']}} {{user_cookie['user_last_name']}}</p>
                    </section>
                    <section class="mt-auto pb-10">
                        <p class="mt-10"><i>Funktion ikke tilføjet endnu</i></p>
                        <button 
                        id="create_collection_btn"
                        disabled
                        class="w-fit mx-auto px-6 py-1 mt-6 rounded-xl font-semibold text-white bg-[#524646] hover:bg-[#493e3e] shadow-md shadow-[#00000030] transition duration-300"
                        type="submit" 
                        data-default="Login" 
                        data-await="Please wait ..."
                        >
                            Opret opskriftsamling
                        </button>
                    </section>
                </section>
            </div>
        </div>


        <section class="flex flex-col items-center w-[85%] max-w-[1000px] pb-10">
            
            <section class="mt-10">
                
                <!-- Tilføj opskrifter fra kataloget -->
                % if not user_recipes:
                    <h2 class="text-center font-semibold text-2xl my-4">Du har ikke oprettet nogle opskrifter endnu</h2>
                    <p class="text-center font-semibold my-4 mb-10">Tilføj fra kataloget i stedet</p>
                    <!-- Recipe Grid -->
                    <section class="w-full flex flex-col sm:flex-row sm:flex-wrap items-center sm:items-start sm:justify-between gap-10">

                        % for recipe in all_recipes:
                            <section 
                            class="relative flex flex-col w-[85%] max-w-[250px] mb-6 bg-cover rounded-xl"
                            >
                                <a 
                                href="/opskrift/{{recipe['recipe_id']}}"
                                class="w-full h-[280px] shadow-xl shadow-[#00000030] rounded-xl"
                                >
                                    <img src="../images/recipe_thumbnails/{{recipe['recipe_thumbnail']}}" class="w-full h-full object-cover rounded-xl" alt="">
                                </a>
                                <section class="p-2 py-4 text-center">
                                    <h2 class="text-xl font-playfair-display ">{{ recipe["recipe_name"] }}</h2>
                                </section>

                                <!-- Tilføj recipe -->
                                <div id="" name="" class="absolute flex justify-center items-center right-0 top-6 rounded-l-xl bg-[#FEFDFD]">
                                    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
                                    <input type="text" name="recipe_id" value="{{recipe['recipe_id']}}" class="hidden">
                                    <button disabled type="submit" id="like_recipe_{{recipe['recipe_id']}}" class="w-full h-full px-3 py-1.5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M11 17h2v-4h4v-2h-4V7h-2v4H7v2h4v4Zm1 5q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22Zm0-2q3.35 0 5.675-2.325T20 12q0-3.35-2.325-5.675T12 4Q8.65 4 6.325 6.325T4 12q0 3.35 2.325 5.675T12 20Zm0-8Z"/></svg>
                                    </button>
                                </div>
                            </section>
                        % end
                    </section>
                % else :

                <h2 class="text-center font-semibold text-2xl mt-4 mb-10">Tilføj nogle af dine opskrifter</h2>
                <!-- Tilføj Egne opskrifter -->
                <section class="w-full flex flex-col sm:flex-row sm:flex-wrap items-center sm:items-start sm:justify-between gap-10">
                    % for recipe in user_recipes:
                        <section class="relative flex flex-col w-[85%] max-w-[250px] mb-6 bg-cover rounded-xl">
                            <a href="/opskrift/{{recipe['recipe_id']}}" class="w-full h-[280px] shadow-xl shadow-[#00000030] rounded-xl">
                                <img src="../images/recipe_thumbnails/{{recipe['recipe_thumbnail']}}" class="w-full h-full object-cover rounded-xl" alt="">
                            </a>
                            <section class="p-2 py-4 text-center">
                                <h2 class="text-xl font-playfair-display">{{ recipe["recipe_name"] }}</h2>
                            </section>
                            
                            <!-- Tilføj recipe -->
                            <div id="" name="" class="absolute flex justify-center items-center right-0 top-6 rounded-l-xl bg-[#FEFDFD]">
                                <input type="hidden" name="csrf_token" value="{{csrf_token}}">
                                <input type="text" name="recipe_id" value="{{recipe['recipe_id']}}" class="hidden">
                                <button disabled type="submit" id="like_recipe_{{recipe['recipe_id']}}" class="w-full h-full px-3 py-1.5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M11 17h2v-4h4v-2h-4V7h-2v4H7v2h4v4Zm1 5q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22Zm0-2q3.35 0 5.675-2.325T20 12q0-3.35-2.325-5.675T12 4Q8.65 4 6.325 6.325T4 12q0 3.35 2.325 5.675T12 20Zm0-8Z"/></svg>
                                </button>
                            </div>
                        </section>
                    % end 
                </section>
                % end 
            </section>
        </section>
    </form>


</div>

<script src="/js/purify.js"></script>
<script src="/js/inputValidation.js"></script>
<script src="/js/create_collection.js"></script>

%include("comp_footer")