<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Document</title>
</head>
<body class="bg-[#FBFCFB] flex flex-col items-center justify-center">
    <h1 class="text-center text-3xl my-8 w-[80%] max-w-[500px]">Den side kender vi desværre ikke </h1>
    <p class="font-semibold">404 side ikke fundet</p>
    <img 
    class="w-[80%] max-w-[500px]"
    src="../images/general/cupcake.jpg" 
    alt="cupcake"
    >
    <br> 
    <br> 
    <p>Prøv vores forside i stedet</p>
    <a href="/" class="underline font-semibold">Gå til forside</a>
</body>
</html>