% include("comp_header_navbar")

<div
class="flex flex-1 text-[#2a2a2a] w-full" 
>
    <img src='../images/general/splash.jpg' alt="splash billede" class="w-full h-full absolute top-0 object-cover">
    <div class="flex justify-center flex-1 bg-[#00000070]">
        <form method="POST" action="" class="relative flex flex-col items-center w-[85%] max-w-[500px] h-fit bg-[#F9FAFC99] p-10 rounded-xl mt-[10%] md:mt-[5%] shadow-2xl shadow-[#00000090]">
            <h2 class="text-xl font-semibold pb-8">Login til Alle Vores Opskrifter</h2>
            
            <!-- show message, hvis det er forkert -->
            <section id="tips" class="absolute z-40 top-10 flex flex-col gap-4 w-full"></section>

            <section class="flex flex-col items-center gap-4 w-full">
                <input 
                type="text" 
                name="username-input" 
                placeholder="Brugernavn"
                class="w-[80%] max-w-[3s50px] px-4 py-2 rounded-full text-sm outline-none"
                >
                <input 
                type="password" 
                name="password-input"
                placeholder="Password"
                class="w-[80%] max-w-[3s50px] px-4 py-2 rounded-full text-sm outline-none"
                >
                <p>Glemt password? <a href="/nulstil-password" class="hover:border-b-2 border-[#2a2a2a]">Nultstil her</a></p>
            </section>
            <section class="flex justify-between flex-col-reverse sm:flex-row gap-4 w-[85%] mt-10">
                <button 
                type="button" 
                class="rounded-xl font-semibold text-[#524646] border-2 border-[#524646] hover:border-[#493e3e] hover:text-[#493e3e] shadow-md shadow-[#00000030]"
                >
                    <a href="/opret-bruger" class="px-6 py-1 flex items-center justify-center w-full h-full">
                      Opret bruger
                    </a>
                </button>
                <button 
                id="loginButton"
                class="px-6 py-1 rounded-xl font-semibold text-white bg-[#524646] hover:bg-[#493e3e] shadow-md shadow-[#00000030] transition duration-300"
                type="button" 
                data-default="Login" 
                data-await="Please wait ..."
                >
                    Login
                </button>
            
            </section>
        </form>
    </div>
</div>

<script src="/js/validate.js"></script>
<script src="../js/login.js"></script>


</body>
</html>