% include("comp_header_navbar")

<div class="flex flex-col items-center w-full">
    <!-- splash med info -->
    <div class="flex flex-col lg:flex-row w-full shadow-lg shadow-[#00000030]">
        <div class="w-full lg:w-[60%] lg:max-h-[60vh]">
            <img src="../images/recipe_thumbnails/{{recipe['recipe_thumbnail']}}" class="w-full h-full max-h-[75vh] lg:h-full object-cover" alt="">
        </div>        
        <div class="flex justify-center w-full lg:w-[40%] bg-[#D3C9C6]">
            <section class="flex flex-col justify-around w-[85%] text-center py-6 pt-8">
                <section class="mb-4"> <!-- afsnit i opskrifts info -->
                    <h1 class="text-2xl sm:text-4xl font-playfair-display font-semibold text-[#524646]">{{recipe['recipe_name']}}</h1>
                    <p class="">Af {{recipe_owner['user_first_name']}} {{recipe_owner['user_last_name']}}</p>
                </section>
                <section class="mb-4"> <!-- afsnit i opskrifts info --> 
                    <h3 class="font-semibold text-lg">Kategori</h3>
                    <p>{{recipe['recipe_category']}}</p>
                </section>
                <section class="mb-4"> <!-- afsnit i opskrifts info --> 
                    <h3 class="font-semibold text-lg">Estimeret tid</h3>
                    <p>{{recipe['recipe_cooking_est']}}</p>
                </section>
                <section class="mb-4"> <!-- afsnit i opskrifts info --> 
                    <h3 class="font-semibold text-lg">Sværhedsgrad</h3>
                    <p>{{recipe['recipe_difficulty']}}</p>
                </section>
                <section class="flex gap-1 justify-center items-center"> <!-- afsnit i opskrifts info --> 
                    <svg class="text-[#524646]" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53L12 21.35Z"/></svg>
                    <p>Likes</p>
                </section>
            </section>
        </div>
    </div>

    <section class="w-[85%] sm:w-[60%] max-w-[550px] text-center py-10">
        <h2 class="font-playfair-display text-2xl sm:4xl pb-4 font-semibold">Om {{recipe['recipe_name']}}</h2>
        <p>{{recipe['recipe_description']}}</p>
    </section>

    <!-- Ingredienser og fremgangsmåde -->
    <div class="flex flex-col items-center lg:flex-row lg:justify-center lg:items-start lg:gap-6 bg-[#DFD7D4] w-full py-10">
        <!-- Ingredienser -->
        <section class="w-[85%] lg:w-[30%] mb-8 lg:mb-0">
            <h2 class="text-2xl lg:text-3xl font-playfair-display font-semibold pb-6 text-[#524646]">Ingredienser</h2>
            <section>
                % for ingredient in ingredients:
                    <p class="pb-4">{{ingredient['ingredient_name']}}</p>
                % end
            </section>
        </section>
        <!-- Fremgangsmåde -->
        <section class="w-[85%] lg:w-[40%] ">
            <h2 class="text-2xl lg:text-3xl font-playfair-display font-semibold pb-6 text-[#524646]">Fremgangsmåde</h2>
            <ol class="list-decimal pl-5">
                % for step in steps:
                    <li class="pb-4">{{step['step_description']}}</li>
                % end
            </ol>
        </section>
    </div>
</div>
    
% include("comp_footer")