% include("comp_header_navbar", title="Opskriftskatalog")

    <!-- Container -->
    <section class="flex flex-row w-full">
        % include("comp_filtrationbar")

        
        <!-- Recipe grid -->
        <section class="flex-1 py-8 px-10">
            <h1 class="text-4xl font-semibold my-4 font-playfair-display text-[#524646]">Opskriftskatalog</h1>
            <section class="flex w-full justify-between">
                <h2 class="text-xl font-semibold mb-8 ">Opskriftskatalog</h2>
            </section>
            <section class="w-full flex flex-col sm:flex-row sm:flex-wrap items-center sm:items-start sm:justify-between gap-10">

                % for recipe in recipes:
                <!-- Recipe Grid -->
                <section 
                class="flex flex-col w-[85%] sm:w-[250px] mb-6 bg-cover"
                >
                    <a 
                    href="/opskrift/{{recipe['recipe_id']}}"
                    class="w-full h-[280px] rounded-sm shadow-lg shadow-[#00000020]"
                    style="background-image: url('../images/recipe_thumbnails/{{recipe['recipe_thumbnail']}}'); background-size: cover; background-repeat: no-repeat;"
                    ></a>
                    <section class="p-2 py-4">
                        <h2 class="text-xl font-playfair-display ">{{ recipe["recipe_name"] }}</h2>
                    </section>
                </section>
                % end
            </section>
        </section>
    </section>


<!-- footer -->
% include("comp_footer")


